.DS_Store
applet
application.linux-arm64
application.linux-armv6hf
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
out
*.pth
logs/*
runs
runs/*
logs
lightning_logs/*
lightning_logs
__pycache__/*
*.pyc
*.pt
*.mp4
*.png
*.jpg
*.pkl
*.ckpt
*.yaml
*.csv
tags
*.txt
examples
modes
templates
tools
